* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

}

.header_container {
    overflow: hidden;
}


.nav_logo_container {

    display: flex;

    align-items: center;

    h1 {
        font-size: 1.5rem;
        font-weight: 1000;
        color: #0000ff;

        span {
            color: #000;
        }
    }
    
}


.header_grid_container {

    margin-bottom: 3.5rem;

    position: relative;

    img {
        width: 100%;
        height: 21.5rem;
    }

}

.header_grid {

    padding: 1rem;

    position: absolute;

    top: 3.5rem;

    h1 {

        margin: 1rem 0rem;

        font-size: 1.5rem;
        color: #fff;
    }
    
    p {
        font-size: 1rem;
        color: #fff;
    }

    .header_btn {

        margin-top: 0.5rem;

        width: 7.5rem;

        position: relative;

        left: 50%;

        right: 50%;

        transform: translate(-50%);

    }

    .explor_more {

        margin-top: 0.5rem;

        display: flex;

        align-items: center;

        justify-content: center;

        position: relative;

        left: 50%;

        right: 50%;

        transform: translate(-50%);


        color: #fff;
    }

    .header_imgs {
        display: none;
    }

}

.navbar_btn {

    padding: 0.2rem 1rem;

    border-radius: 1.5rem;
    background: #fff;
}


@media only screen and (min-width: 767px) {

    .nav_links_container {

        position: absolute;

        right: 0;

        .nav_links {

            margin-right: 2.5rem;

            font-size: 1rem;           

            color: #fff !important;
        }
    }

    .header_txt_container {
        margin-left: 7.5rem;
    }

    .header_grid_container {
    
        img {
            width: 100%;
            height: 29.5rem;
        }
    
    }


    .header_grid {

        padding-top: 3.5rem;

        display: grid;

        grid-template-columns: 55% 45%;

        justify-items: center;

        justify-content: center;

        .header_imgs {
            display: block;
            width: 100%;
        }

        .header_btn, .explor_more {
            left: 0;
            right: 0;
            transform: unset;
        } 

    }

    

}