*{

    padding: 0;

    margin: 0;

    box-sizing: border-box;

}



.services_header {

    margin: 1rem;

    h1 {

        margin: 1rem;

        text-align: center;

        font-size: 1.9rem;
        
        font-weight: 800;
    }

    p {
        
        margin: 1rem 0.5rem;

        text-align: center;
        font-size: 1rem;
    }

}

.landing_services_grid {
    
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;

    text-align: center;

    div {

        padding: 2rem;

        margin: 0.5em 1rem;

        border-radius: 1.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img {

        margin: 0rem 1rem 1rem 1rem;

        width: 35%;
        height: auto;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 550;
        padding-bottom: 0;
    }

    p {
        padding-bottom: 0;
        margin: 1rem 0rem 0.5rem 0rem
    }

    
}

@media only screen and (min-width: 767px) {
 
    .services_header {

       display: block;

       margin: auto;

       width: 35rem;
        
    }

    .landing_services_grid {

        margin-top: 2rem;

        display: flex;

        flex-wrap: nowrap;

        justify-content: center;

        div {

            max-width: 17rem;
            height: 25.5rem;

        }

    }

  

}
